:root{
    --my-margin: 0 30px;
}
/*Mobile Devices*/
@media screen and (min-width: 576px) {

    body {
        /*font: ;*/
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .alert-info {
        /*text-align: center;*/
        border: 8px solid lightgray;
        /*display: flex;*/
        height: 120px;
        margin: var(--my-margin);
        background-color: paleturquoise;
        font-size: 2.5em;
        text-align: center;
        line-height: 136px;

    }
.alert-info a {
    text-decoration: none;
    color: black;
}

    h1 {
        text-align: center;
        font-size: 8em;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    nav {

    }

    .nav-links {
        list-style-type: none;
        text-align: center;
        height: 500px;
        font-size: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline-start: 0;
    }

    li {
        background-color: lightgray;
        padding: 25px 0;
        /*margin-left: 30px;*/
        /*margin-right: 30px;*/
        margin: var(--my-margin);
    }


    .header-img {
        /*display: flex;*/
        /*justify-content: center;*/
        content: url(https://via.placeholder.com/339x224);
        margin: 0 auto;
        width: calc(100% - 60px);

    }

    .main {
        margin: 2em;
        padding-top: 25px;
    }

    .sub-section {
        margin: 2em;
        padding-top: 50px;
        padding-bottom: 150px;
    }

    h1, .alert-info, .nav-links, .main, .sub-section {
        font-family: Arial, serif;
    }

    .sub-section {
        font-style: italic;
    }
}
/*Desktops/Laptops*/
@media screen and (min-width:992px) {
    body {
        /*font: ;*/
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .alert-info {
        /*text-align: center;*/
        /*border: 8px solid lightgray;*/
        /*!*display: flex;*!*/
        /*height: 120px;*/
        /*margin: var(--my-margin);*/
        /*background-color: paleturquoise;*/
        /*font-size: 2.5em;*/
        /*text-align: center;*/
        /*line-height: 136px;*/
        visibility: hidden;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
        font-size: 8em;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    nav {

    }

    .nav-links {
        list-style-type: none;
        text-align: center;
        height: 500px;
        font-size: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline-start: 0;
    }

    li {
        background-color: lightgray;
        padding: 25px 0;
        /*margin-left: 30px;*/
        /*margin-right: 30px;*/
        margin: var(--my-margin);
    }


    .header-img {
        /*display: flex;*/
        /*justify-content: center;*/
        content: url(https://via.placeholder.com/339x224);
        margin: 0 auto;
        width: calc(100% - 60px);

    }

    .main {
        margin: 2em;
        padding-top: 25px;
    }

    .sub-section {
        margin: 2em;
        padding-top: 50px;
        padding-bottom: 150px;
    }

    h1, .alert-info, .nav-links, .main, .sub-section {
        font-family: Arial, serif;
    }

    .sub-section {
        font-style: italic;
    }
}